.form {

    input, 
    &.checkoutInput select {
        display: flex;
        font-size: 15px;
        width: 100%;
        padding: 8px 4px;
        font-weight: 400;
        outline: none;
        border: 1px solid black;
        text-align: left;
        margin: 10px auto;
    }
}